In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [2]:
Training_Data = pd.read_csv("C:\Training Data.csv")
Testing_Data = pd.read_csv("C:\Testing Data.csv")

In [5]:
Training_Data.head()

,HouseID,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,house_value
0,0,-122.23,37.88,41,880,129.0,322,126,452600
1,1,-122.22,37.86,21,7099,1106.0,2401,1138,358500
2,2,-122.24,37.85,52,1467,190.0,496,177,352100
3,3,-122.25,37.85,52,1274,235.0,558,219,341300
4,4,-122.25,37.85,52,1627,280.0,565,259,342200

In [6]:
Testing_Data.head()

,HouseID,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households
0,17000,-122.26,37.56,23,7283,1342.0,3399,1298
1,17001,-122.26,37.57,23,7995,1254.0,3484,1198
2,17002,-122.25,37.56,19,7976,1406.0,3437,1338
3,17003,-122.29,37.55,27,3789,874.0,2243,866
4,17004,-122.28,37.54,24,5114,1357.0,3169,1268

In [7]:
Testing_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3640 entries, 0 to 3639
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   HouseID             3640 non-null   int64
 1   longitude           3640 non-null   float64
 2   latitude            3640 non-null   float64
 3   housing_median_age  3640 non-null   int64
 4   total_rooms         3640 non-null   int64
 5   total_bedrooms      3596 non-null   float64
 6   population          3640 non-null   int64
 7   households          3640 non-null   int64
dtypes: float64(3), int64(5)
memory usage: 227.6 KB

In [8]:
Training_Data.isnull().sum()

HouseID                 0
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        163
population              0
households              0
house_value             0
dtype: int64

In [9]:
Testing_Data.isnull().sum()

HouseID                0
longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        44
population             0
households             0
dtype: int64

In [10]:
Testing_Data.dropna(subset=['total_bedrooms'],axis=0,inplace=True)
Training_Data.dropna(subset=['total_bedrooms'],axis=0,inplace=True)

In [11]:
print(Training_Data.isnull().sum())
print("========================================")
print(Testing_Data.isnull().sum())

HouseID               0
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
house_value           0
dtype: int64
========================================
HouseID               0
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
dtype: int64

In [12]:
Training_Data.corr()

,HouseID,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,house_value
HouseID,1.000000,0.209626,-0.208360,-0.156459,0.094329,0.078303,0.059578,0.070050,0.075412
longitude,0.209626,1.000000,-0.932120,-0.172949,0.053373,0.070707,0.106608,0.058699,-0.012901
latitude,-0.208360,-0.932120,1.000000,0.056482,-0.036385,-0.064448,-0.111222,-0.071266,-0.152364
housing_median_age,-0.156459,-0.172949,0.056482,1.000000,-0.368849,-0.330689,-0.302214,-0.310082,0.121517
total_rooms,0.094329,0.053373,-0.036385,-0.368849,1.000000,0.929769,0.854816,0.917098,0.133852
total_bedrooms,0.078303,0.070707,-0.064448,-0.330689,0.929769,1.000000,0.876121,0.979063,0.056415
population,0.059578,0.106608,-0.111222,-0.302214,0.854816,0.876121,1.000000,0.906503,-0.026945
households,0.070050,0.058699,-0.071266,-0.310082,0.917098,0.979063,0.906503,1.000000,0.071321
house_value,0.075412,-0.012901,-0.152364,0.121517,0.133852,0.056415,-0.026945,0.071321,1.000000

In [13]:
Testing_Data.drop(['HouseID'],axis=1,inplace=True)
Training_Data.drop(['HouseID'],axis=1,inplace=True)
scaler = MinMaxScaler()
Training_Data = pd.DataFrame(scaler.fit_transform(Training_Data), columns=Training_Data.columns)
Testing_Data = pd.DataFrame(scaler.fit_transform(Testing_Data), columns=Testing_Data.columns)

In [14]:
x_train = np.array(Training_Data.iloc[:,0:len(Training_Data.iloc[0,:]) - 1])
y_train = np.array(Training_Data.iloc[:,-1])
y_train = y_train.reshape(y_train.shape[0], 1)
x_test = np.array(Testing_Data)

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)

(16837, 7)
(16837, 1)
(3596, 7)

In [86]:
alpha = 0.1
num_of_iterations = 10000
m = int(x_train.shape[0])

print("Number of training examples is: " , m)

Number of training examples is:  16837

In [87]:
w = np.random.rand(7,1)
b = np.random.rand(1)
print(w.shape)
assert(w.shape == (7,1))

(7, 1)

In [88]:
def Predictive_Line(X,w,b):
  Predictions = np.dot(X,w) + b 
  return Predictions
Predictive_Line(x_train,w,b).shape

(16837, 1)

In [89]:
def Calculate_Cost(X, w, b, Y, m):
    prediction = Predictive_Line(X,w,b)
    diffsq = np.power((prediction - Y),2)
    j = np.sum(diffsq)/(2*m)
    return j

In [90]:
def Gradient_Descent(X, Y, w,b, alpha, num_iters, m):
  for i in range(num_iters):
     Predictions = Predictive_Line(X,w,b)
     err = Predictions - Y
     dw = (1/m)*(np.sum(err*X,axis=0).reshape(7,1))
     db = np.sum(err)/m
     w = w - alpha*dw
     b = b - alpha*db
  return w,b

In [91]:
w,b = Gradient_Descent(x_train, y_train, w,b, alpha, num_of_iterations, m)
y_train_predicted = Predictive_Line(x_train, w,b)
y_test = Predictive_Line(x_test, w,b)

print("w:",w)
print("b",b)
print("train accuracy: {} %" .format(100 - np.mean(np.abs(y_train_predicted-y_train))*100))

w: [[-1.10742665]
 [-1.05486128]
 [ 0.06494415]
 [ 0.75602239]
 [-0.029616  ]
 [-0.00598027]
 [-0.24284399]]
b [1.20260284]
train accuracy: 84.16206004378087 %